/* title */

#title {
    background-color: #ff4c68;
    color: white;
    padding-bottom: 5%;
}

.title-img {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

.title-base {}

.container-fluid {
    padding: 3% 15%;
}


/* navigation bar */

.navbar {
    padding: 0 0 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.navbar-brand {
    font-family: 'ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'ubuntu';
}


/* Download buttons */

.download-btn {
    margin: 5% 3% 5% 0;
}

button {
    font-family: 'Ubuntu', sans-serif;
}


/* Features */

#features {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #fff;
    position: relative;
}

.feature-icn {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icn:hover {
    color: #ff4c68;
    transition: 0.5s;
}

.feature-p {
    color: #8f8f8f;
    margin: auto;
    width: 75%;
    font-family: 'ubuntu';
}

.feature-block {
    padding: 40px 12px;
}


/* Heading texts */

h2 {
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    /* line-height: 2; */
}


/* testimonials */

#testimonials {
    background-color: #ef8172;
    text-align: center;
    color: white;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}


/* Press Section */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width:1028px) {
    .title-base {
        text-align: center;
    }
    .title-img {
        width: 60%;
        position: static;
        transform: rotate(0);
        margin-top: 5%;
    }
    .testimonial-img{
        width: 20%;
    }
}


/* Call To Action */

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}

.call-action {
    padding: 3%;
}

.callText {
    color: white;
    font-size: 3rem;
    line-height: 1.5;
}


/* Footer */

#footer {
    background-color: white;
    text-align: center;
}

.footer-item {
    line-height: 2;
    padding: 7%;
}

.footer-txt {
    font-family: 'ubuntu';
    color: #8f8f8f;
    margin: auto;
    width: 75%;
}

.footer-icn {
    margin: 1%;
}
